@import "../../scss/variables";

.container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 30px;
        border-radius: 5px;
        height: 100%;

        .image {
            margin: 10px 0;
            height: 150px;
            width: 150px;
            background: $success;
            padding: 3px;
            border-radius: 50%;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid #fff;
            }
        }
    }
}

.box {
    p {
        text-align: justify;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
        max-width: 100%;
    }

    .name_job {
        margin: 10px 0 3px 0;
        color: $success;
        font-size: 24px;
        font-weight: 600;
    }
}

.d-flex-profile {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;
}

.profile_info {
    border: 1px solid $success;
    padding: 15px 30px;
    color: $success;
    font-weight: bold;
    transition: all 0.3s ease-in;
    &:hover {
        box-shadow: 0 0 5px $success;
    }
}

.text-capitalize {
    text-transform: capitalize;
}

@media (max-width: 1100px) {
    .d-flex-profile {
        flex-direction: column !important;
    }
    .profile_container {
        margin-top: 40px !important;
    }
}