@import "../../scss/variables";

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.main {
    width: 100%;
}
.logo img {
    height: 70px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: white;
    box-shadow: 2px 2px 20px #5a76fd21;
    z-index: 1;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;

    ul {
        display: flex;
    }
}

nav .menu-btn {
    display: none;
}
@media (max-width: 1100px) {
    nav {
        justify-content: space-between;
        height: 65px;
    }
    .menu {
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #fff;
        border-bottom: 1px solid $success;
        border-top: 1px solid $success;
        width: 100%;

        li {
            width: 100%;
        }
        .btn {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 0px;
            padding: 25px;

            &:hover {
                color: $white;
                background: $success;
            }
        }
    }
    nav .menu-icon {
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        .nav-icon {
            background-color: #333333;
            display: block;
            height: 2px;
            position: relative;
            transition: background 0.2s ease-out;
            width: 18px;

            &::before,
            &::after {
                background: #333333;
                content: "";
                display: block;
                height: 100%;
                position: absolute;
                transition: all ease-out 0.2s;
                width: 100%;
            }

            &::before {
                top: 5px;
            }

            &::after {
                top: -5px;
            }
        }
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon {
        background: transparent;
        &::before {
            transform: rotate(-45deg);
            top: 0;
        }
        &::after {
            transform: rotate(45deg);
            top: 0;
        }
    }

    nav .menu-btn {
        display: none;
    }
    nav .menu-btn:checked ~ .menu {
        display: block;
    }
}
@media (max-width: 720px) {
    .box {
        width: 100%;
        margin: 20px 0px !important;
        padding: 0px 20px;
        flex-grow: 1;
        img {
            height: 100px;
            width: 100%;
            object-fit: contain;
        }
    }
}
