@import '../../scss/variables';

.snackbar {
    margin-left: -125px;
    background-color: white;
    box-shadow: 0 0 5px $danger;
    border: 1px solid $danger;
    color: $danger;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: $danger;
        color: white;
    }
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}
