$bg-primary: #7254f3;
$bg-success: #4bae51;
$bg-danger: #f44336;
$bg-white: #eff3f8;
$bg-blue: #4495f1;
$bg-purple: #9c27b0;
$bg-dark: #283747;
$bg-darkest: #212121;

$primary-color:#7254f3;
$success-color:#4bae51;
$danger-color:#f44336;
$white-color:#eff3f8;
$blue-color:#4495f1;
$purple-color:#9c27b0;
$dark-color:#283747;
$darkest-color:#212121;


$primary:#7254f3;
$success: #4bae51;
$danger:#f44336;
$white:#eff3f8;
$blue:#4495f1;
$purple:#9c27b0;
$dark:#283747;
$darkest:#212121;